*.zip
*.csv
*.pdf
*.jpeg
*.jpg
*.png
*.txt
*.rds
.Rproj.user
.Rhistory
.RData
.Ruserdata
Getting_and_cleanin_data/Course_Project/run_data_summary.txt.save
Getting_and_cleanin_data/Course_Project/run_data_summary.txt
